<h1>Update your profile</h1>
<h2>Remember to add a biography!</h2>

<div>
  <div>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :bio %>
      <%= f.text_field :bio %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

      <br>

      <%= f.submit "Save changes"%>
    <% end %>
  </div>
</div>