<h1>Username: <%= @user.username %></h1><br> 
<p>Email: <%= @user.email %></p>
<p>Bio: <%= @user.bio %></p>
<p><%= link_to "Create New Story", new_story_path %></p>
<div>
    <% if @user.stories.any? %>
        <h3><%= pluralize(@user.stories.count, "Story") %> </h3>
        <ol>
          <%= render @stories %>
        </ol>
        <%= will_paginate @stories %>
		<% else %>
		<h3>No Stories Yet</h3>
    <% end %>
</div>