<% provide(:title, "Sign in") %>
<h1>Create New Story</h1>
  <div>
	<%= form_for(@story) do |f| %>
		   <%= f.label :title %>
		   <%= f.text_area :title %>

		   <%= f.label :body %>
		   <%= f.text_area :body, class: "edittext" %><br>

	       <%= f.submit 'Create Story', class: "submit-btn" %>
	    <% end -%>
  </div>
