<% provide(:title, "Sign in") %>
<h1>Create New Story</h1>
  <div>
	<%= form_for(@story) do |f| %>
		   <%= f.label :title %>
		   <%= f.text_field :title %>

       <%= f.label :genre %>
       <%= f.text_field :genre %>

		   <%= f.label :body %>
		   <%= f.text_field :body %>

       <%= f.label :lower_limit %>
       <%= f.text_field :lower_limit %>

       <%= f.label :upper_limit %>
       <%= f.text_field :upper_limit %>       

	     <%= f.submit 'Create Story' %>
	    <% end %>
  </div>
