<header>
  <div>
    <div class="container">
      <nav>
		  			  <img src ='http://designmoo.com/wp-content/uploads/2011/01/openbook1.gif' width=15% height=15%)/>
		<ul>
			<% if signed_in? %>
			<li><%= link_to "Settings", edit_user_path(current_user) %></li>
      <li><%= link_to "Help", help_path %></li>
            <li>
              <%= link_to "Sign out", signout_path, method: "delete" %>
            </li> 
			<% end %>
		</ul>
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <% if signed_in? %>
            <li><%= link_to "Users", users_path %></li>
                <li><%= link_to "Profile", current_user %></li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
            <li><%= link_to "Help", help_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>